@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif; 
  --color-mainblue: #0a4ea0; 
  --color-secondblue: #098fd1;
  --color-secondary: #f6f5f5;
  --color-whiteprime: #f9fafa;
  --color-thirdgrey: #7e7da5;
  --color-primaryoren: #f2df0c;
}

.truncate-multiline-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.color-main {
  /* background:#0a4ea0; */
  /* background: linear-gradient(90deg, #098fd1, #0a4ea0); */
  background: linear-gradient(90deg, #0a4ea0, #098fd1);
}

.scrolled-header {
  /* background:#0a4ea0; */
  background: linear-gradient(90deg, #0a4ea0, #098fd1);
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
}