@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif; 
  --color-mainblue: #0a4ea0;
  --color-secondblue: #098fd1;
  --color-secondary: #f6f5f5;
  --color-whiteprime: #f9fafa;
  --color-thirdgrey: #7e7da5;
  --color-primaryoren: #f2df0c;
}